packages/tree_clipper/tests/binary_blend_files/** filter=lfs diff=lfs merge=lfs -text
packages/tree_clipper/tests/backwards_compatibility/** filter=lfs diff=lfs merge=lfs -text
packages/tree_clipper/tests/sounds/615771__synxwtf__breakbeats_135bpm_1.wav filter=lfs diff=lfs merge=lfs -text
